@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

/* --- Reset CSS --- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* --- Reset end --- */

:root {
    --body-color: #f5f5f4;
    --header-color: #ef4444;
    --item-color-hover: #e7e5e4;
    --border-color: #d6d3d1;
    --btn-add-color: #ef4444;
    --btn-cancel-color: #a8a29e;
    --btn-add-color-hover: #dc2626;
    --btn-cancel-color-hover: #78716c;
    --warning-color: #b91c1c;
    --priority-low-color: #a3e635;
    --priority-medium-color: #fbbf24;
    --priority-high-color: #f87171;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Hind Siliguri', sans-serif, 'Segoe UI', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', system-ui;
    min-height: 100vh;
    min-width: 100vw;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--body-color);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
    background-color: var(--header-color);
    padding: 1rem 3rem 1rem 3rem;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

#nav-bar,
#task-content {
    padding: 2rem;
}

#nav-bar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-right: 1px solid var(--border-color);
}

.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    height: 2rem;
    font-size: 1.5rem;
}

#nav-inbox img,
#nav-today img,
#nav-week img {
    height: 70%;
    width: auto;
}

#nav-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

#nav-bottom h1,
#task-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

#project-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.project-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    border-radius: 8px;
    font-size: 1rem;
}

.project-item:hover {
    background-color: var(--item-color-hover);
}

.project-item button:hover {
    cursor: pointer;
}

.project-item:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.item-selected {
    background-color: var(--item-color-hover);
}

.project-item-left,
.project-item-right {
    background: none;
    border: none;
    font-size: 1.3rem;
    height: 2.5rem;
}

.project-item-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: 90%;
}

.project-item-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    visibility: hidden;
}

.project-item:hover > .project-item-right {
    visibility: visible;
}

.task-item-right .material-symbols-outlined,
.project-item .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

#btn-new-project-container,
#btn-new-task-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn-new-project {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: none;
    border: none;
    font: inherit;
    outline: inherit;
    margin-top: 1rem;
}

#btn-new-project,
#btn-new-task {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#btn-new-project:hover,
#btn-new-task:hover {
    background-color: var(--item-color-hover);
    cursor: pointer;
}

#btn-new-project:active,
#btn-new-task:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 48;
}

#project-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

#project-name-input,
#task-title-input,
#task-description-input,
#task-due-date-input {
    font-family: 'Hind Siliguri', sans-serif, 'Segoe UI', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', system-ui;
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

#project-name-input {
    display: block;
    font-size: 1.3rem;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    width: 100%;
}

#task-title-input,
#task-description-input,
#task-due-date-input {
    font-size: 1rem;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

#project-warning,
#task-warning {
    height: 1rem;
    color: var(--warning-color);
    text-align: center;
}

#btn-project-modal-container,
#btn-task-modal-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#btn-add-project:hover,
#btn-add-task:hover {
    cursor: pointer;
    background-color: var(--btn-add-color-hover);
}

#btn-cancel-project:hover,
#btn-cancel-task:hover,
#btn-new-task:hover {
    cursor: pointer;
    background-color: var(--btn-cancel-color-hover);
}

#btn-add-project:active,
#btn-cancel-project:active,
#btn-cancel-task:active,
#btn-new-task:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#btn-add-project,
#btn-cancel-project,
#btn-add-task,
#btn-cancel-task {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border-radius: 8px;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
}

#btn-add-project,
#btn-add-task {
    width: 5rem;
    background-color: var(--btn-add-color);
}

#btn-cancel-project,
#btn-cancel-task {
    width: 5rem;
    background-color: var(--btn-cancel-color);
}

#btn-new-task {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    border-radius: 8px;
    padding: 0.6rem 0.3rem 0.6rem 0.3rem;
    width: 10rem;
    background-color: var(--btn-cancel-color);
}

#task-content {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#task-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#task-modal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.task-modal-input,
#task-modal > fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

#task-modal > fieldset > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

#task-modal label,
#task-content legend {
    font-size: 1.2rem;
    font-weight: 500;
}

.description-input-sublabel {
    font-size: 0.7rem;
    font-weight: 100;
    color: #a0a3a7;
}

#task-field {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.task-item,
.task-item-left,
.task-item-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.task-item {
    gap: 1rem;
    width: 100%;
    border: 1px solid grey;
    padding: 0.5rem;
    border-radius: 8px;
}

.task-item-left {
    justify-content: center;
    font-size: 1.2rem;
    gap: 0.5rem;
}

.task-item-right {
    justify-content: center;
    gap: 0.2rem;
}

.task-item-right .material-symbols-outlined:hover {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    cursor: pointer;
}

.task-item-middle {
    flex: 2;
    text-align: end;
}

.priority-low {
    box-shadow: inset 0.3rem 0 var(--priority-low-color);
}

.priority-medium {
    box-shadow: inset 0.3rem 0 var(--priority-medium-color);
}

.priority-high {
    box-shadow: inset 0.3rem 0 var(--priority-high-color);
}

#task-checkbox {
    cursor: pointer;
}

.task-done {
    text-decoration: line-through;
}

footer {
    /*position: absolute;
    bottom: 0;*/
    /*font-family: 'Roboto', sans-serif;*/
    width: 100%;
    height: 2.5rem;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.reflink {
    width: 25px;
    text-align: center;
}

.github-img {
    width: 20px;
    height: 20px;
}

.github-img:hover {
    width: 25px;
    height: 25px;
}
