@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

/* --- Reset CSS --- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* --- Reset end --- */

:root {
    --body-color: #f5f5f4;
    --header-color: #ef4444;
    --item-color-hover: #e7e5e4;
    --border-color: #d6d3d1;
    --btn-add-color: #ef4444;
    --btn-cancel-color: #a8a29e;
    --btn-add-color-hover: #dc2626;
    --btn-cancel-color-hover: #78716c;
    --warning-color: #b91c1c;
    --priority-low-color: #a3e635;
    --priority-medium-color: #fbbf24;
    --priority-high-color: #f87171;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Hind Siliguri', sans-serif, 'Segoe UI', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', system-ui;
    min-height: 100vh;
    min-width: 100vw;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--body-color);
}

header {
    width: 100vw;
    position: fixed;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
    background-color: var(--header-color);
    padding: 1rem 3rem 1rem 3rem;
}

main {
    margin-top: 4rem;
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

#nav-bar,
#task-content {
    padding: 2rem;
}

#nav-bar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-right: 1px solid var(--border-color);
}

.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    padding-left: 0.3rem;
    border-radius: 8px;
}

#nav-inbox img,
#nav-today img,
#nav-week img {
    height: 70%;
    width: auto;
}

#nav-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

#nav-bottom h1,
#task-content h1,
#task-modal-view-title {
    font-size: 1.5rem;
    font-weight: 600;
}

#project-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.project-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    border-radius: 8px;
    font-size: 1rem;
}

.nav-item:hover,
.project-item:hover {
    background-color: var(--item-color-hover);
}

.nav-item:hover,
.project-item button:hover {
    cursor: pointer;
}

.nav-item:active,
.project-item:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.item-selected {
    background-color: var(--item-color-hover);
}

.project-item-left,
.project-item-right {
    background: none;
    border: none;
    font-size: 1.3rem;
    height: 2.5rem;
}

.project-item-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: 90%;
}

.project-item-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    visibility: hidden;
}

.project-item:hover > .project-item-right {
    visibility: visible;
}

.task-item-right .material-symbols-outlined,
.project-item .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

#btn-new-project-container,
#btn-new-task-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn-new-project {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: none;
    border: none;
    font: inherit;
    outline: inherit;
    margin-top: 1rem;
}

#btn-new-project,
#btn-new-task {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#btn-new-project:hover,
#btn-new-task:hover {
    background-color: var(--item-color-hover);
    cursor: pointer;
}

#btn-new-project:active,
#btn-new-task:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 48;
}

#project-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

#project-name-input,
#task-title-input,
#task-description-input,
#task-duedate-input {
    font-family: 'Hind Siliguri', sans-serif, 'Segoe UI', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', system-ui;
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

#project-name-input {
    display: block;
    font-size: 1.3rem;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    width: 100%;
}

#task-title-input,
#task-description-input,
#task-duedate-input {
    font-size: 1rem;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

#project-warning,
#task-warning {
    height: 1rem;
    color: var(--warning-color);
    text-align: center;
}

#btn-project-modal-container,
#btn-task-modal-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#btn-add-project:hover,
#btn-add-task:hover {
    cursor: pointer;
    background-color: var(--btn-add-color-hover);
}

#btn-cancel-project:hover,
#btn-cancel-task:hover,
#btn-new-task:hover {
    cursor: pointer;
    background-color: var(--btn-cancel-color-hover);
}

#btn-add-project:active,
#btn-cancel-project:active,
#btn-cancel-task:active,
#btn-new-task:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#btn-add-project,
#btn-cancel-project,
#btn-add-task,
#btn-cancel-task {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border-radius: 8px;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
}

#btn-add-project,
#btn-add-task {
    width: 5rem;
    background-color: var(--btn-add-color);
}

#btn-cancel-project,
#btn-cancel-task {
    width: 5rem;
    background-color: var(--btn-cancel-color);
}

#btn-new-task {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    border-radius: 8px;
    padding: 0.6rem 0.3rem 0.6rem 0.3rem;
    width: 10rem;
    background-color: var(--btn-cancel-color);
}

#task-content {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#task-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed; /* Position the pop-up fixed on the screen */
    top: 55%; /* Position the pop-up vertically centered */
    left: 63%; /* Position the pop-up horizontally centered */
    transform: translate(-50%, -50%); /* Offset the pop-up to the center of the screen */
    z-index: 1; /* Make sure the pop-up is on top of other elements */
}

#task-modal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem; /* Add some padding to the pop-up */
    border-radius: 8px;
    background-color: var(--body-color);
    width: 50%;
}

.task-modal-input,
#task-modal > fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

#task-modal > fieldset > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

#task-modal label,
#task-content legend {
    font-size: 1.2rem;
    font-weight: 500;
}

.description-input-sublabel {
    font-size: 0.7rem;
    font-weight: 100;
    color: #a0a3a7;
}

#task-field {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.task-item,
.task-item-left,
.task-item-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-item {
    gap: 1rem;
    width: 100%;
    border: 1px solid grey;
    padding: 0.5rem;
    border-radius: 8px;
}

.task-item-left {
    justify-content: center;
    font-size: 1.2rem;
    gap: 0.5rem;
}

.task-item-right {
    justify-content: center;
    gap: 0.2rem;
}

.task-item-right .material-symbols-outlined:hover,
.btn-close-view-task-modal .material-symbols-outlined:hover {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    cursor: pointer;
}

.btn-task-view,
.btn-task-edit,
.btn-task-remove,
.btn-close-view-task-modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    font: inherit;
    outline: inherit;
}

.task-item-middle {
    flex: 2;
    text-align: end;
}

.priority-low {
    box-shadow: inset 0.3rem 0 var(--priority-low-color);
}

.priority-medium {
    box-shadow: inset 0.3rem 0 var(--priority-medium-color);
}

.priority-high {
    box-shadow: inset 0.3rem 0 var(--priority-high-color);
}

#task-checkbox {
    cursor: pointer;
}

.task-done {
    text-decoration: line-through;
}

.inactive {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.2); /* Black w/ opacity */
}

#task-view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed; /* Position the pop-up fixed on the screen */
    top: 50%; /* Position the pop-up vertically centered */
    left: 63%; /* Position the pop-up horizontally centered */
    transform: translate(-50%, -50%); /* Offset the pop-up to the center of the screen */
    z-index: 1; /* Make sure the pop-up is on top of other elements */
}

#task-modal-view {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem; /* Add some padding to the pop-up */
    border-radius: 8px;
    background-color: var(--body-color);
    width: 50%;
}

.btn-close-view-task-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 26%;
    top: 5%;
}

.btn-close-view-task-modal .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

#task-informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-size: 1.1rem;
}

#task-modal-view-description,
#task-modal-view-duedate,
#task-modal-view-priority {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

#task-modal-view-description > p:first-child,
#task-modal-view-duedate > p:first-child,
#task-modal-view-priority > p:first-child {
    text-decoration: underline;
    font-weight: bold;
}

footer {
    /*position: absolute;
    bottom: 0;*/
    /*font-family: 'Roboto', sans-serif;*/
    width: 100%;
    height: 2.5rem;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.reflink {
    width: 25px;
    text-align: center;
}

.github-img {
    width: 20px;
    height: 20px;
}

.github-img:hover {
    width: 25px;
    height: 25px;
}

#btn-nav-toggle {
    display: none;
}

/* MEDIA QUERIES */
@media (max-width: 640px) {
    #btn-nav-toggle {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: white;
        background: none;
        border: none;
        outline: inherit;
        cursor: pointer;
        padding: 0;
    }

    .nav-toggle {
        font-size: 2.2rem;
    }

    #nav-bar {
        margin-top: 4rem;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -3rem;
        background-color: var(--item-color-hover);
        overflow-x: hidden;
        transition: 0.5s;
        gap: 1rem;
    }

    .item-selected,
    .nav-item:hover,
    .project-item:hover {
        background-color: var(--body-color);
    }

    #nav-bar li {
        transition: 0.3s;
    }

    header {
        justify-content: space-between;
        font-size: 2rem;
        padding: 1rem 1rem 1rem 1rem;
        height: 4rem;
    }

    main {
        /*flex-direction: column;*/
        padding: 0;
    }

    #nav-top {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }

    #nav-bar,
    #task-content {
        padding: 1rem 1rem 1rem 1rem;
        border: 0;
    }

    #btn-new-project {
        height: 20px;
        width: 20px;
        margin-top: 0;
    }

    #task-modal-container,
    #task-view-container {
        top: 50%;
        left: 50%;
    }

    #task-modal,
    #task-modal-view {
        width: 80%;
    }

    .project-item-right {
        visibility: visible;
    }

    .btn-close-view-task-modal {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 15%;
        top: 5%;
    }
}
